/* Sintaxis de css

selector {
    propiedad: valor;
    propiedad: valor;
};


/* GOOGLE FONTS
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
*/

/* * {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./imagenes/fondo.jpg);
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.contenedor {
  display: grid;
  grid-template-areas:
    ". logo . "
    "cabecera cabecera cabecera"
    "principal principal principal "
    "pie pie pie";
}

.logo {
  grid-area: logo;
}
.header {
  grid-area: cabecera;
}

.main {
  grid-area: principal;
}

.footer {
  grid-area: pie;
}

.logo {
  width: 300px;
  height: 300px;
  position: relative;
  left: 50px;
  top: 10px;
}

a {
  text-decoration: none;
}

.barraNavegacion__lista li {
  font-family: "Caveat", cursive;
  font-size: 60px;
  font-weight: bold;
  text-decoration: underline;
  list-style: none;
  display: inline-block;
  padding-left: 30px;
  position: relative;
  left: 120px;
  top: 10px;
  transition: transform 3s;
}

.barraNavegacion__lista li a {
  color: #df4ee4;
}

.barraNavegacion__lista li:hover {
  color: #8d2791;
  transform: scale(1.2);
  transition: 1s;
  text-shadow: none;
}

main {
  min-height: 400px;
}

.container{
  margin: 20px;
  padding-left: 300px;
  padding-top: 150px;
}

.row{
  border
}
.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.botones_item {
  text-align: center;
  border-radius: 30px;
  border: solid black 1px;
  height: 200px;
  width: 300px;
  font-family: "Amatic SC", cursive;
  color: #9f28a3;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 100px;
}



/* FOOTER */

/* footer {
  background-color: #c733cc;
  background: linear-gradient(to right, #c733cc, #e98fec);
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconos-footer {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 30px;
}

/*  MOBILE FIRST */

/* @media only screen and (max-width: 1024px) {
  .barraNavegacion__lista li {
    position: relative;
    top: 20px;
    left: 150px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    position: relative;
    left: 20px;
  }

  .barraNavegacion__lista li {
    position: relative;
    left: 50px;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    font-size: 35px;
  }
}

@media only screen and (max-width: 320px) {
  .logo {
    position: relative;
    left: 5px;
  }

  .barraNavegacion__lista li {
    left: 2px;
    display: block;
    text-align: center;
  }

  .iconos-footer {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 20px;
  } 
} */

/* QUIENES SOMOS */


/* .info{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.info-item{
  display: inline-block;
  margin: 40px;
  
}
.foto-quienes-somos{
  width: 500px;
  height: 350px;
}

.lorem{
  text-align: start;
  font-size: 20px;
  width: 500px;
}

/* CONTACTO */
/* .main-general{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin:50px;
  position: relative;
  top: 60px;
}

.input {
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  left: 80px;
}

.input-mensaje {
  height: 50px;
  width: 250px;
  padding-bottom: px;
  text-align: center;
  position: relative;
  left: 40px;
}

.input-button {
  position: relative;
  left: 130px;
} */ 


.header{
  background-color: #df4ee4 ;
}

.logo{
  width: 50%;
}

.navbar-nav{
  font-family: "Caveat", cursive;
  font-size: 40px;
  transition: transform 3s;
}

.navbar-nav :hover {
  transform: scale(1.2);
  transition: 1s;

}

section{
  height: 500px;
  margin:5%;
}

.carousel-inner{
  height: 400px;
}

.carousel-inner img{
height: 400px;
}
.img-fluid{
  height: 400px;
  width: 400px;
}

.imagenes{
  margin-top:50px;
}

p{
  display:inline-block;
  /* padding-left: 150px;
  padding-right: 100px;
  align-items: center; */
}

.footer{
  background-color: #df4ee4  ;
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconos-footer {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 30px;
} 

@media (max-width: 768px) { 
  
    .footer{
      position: relative;
      top:850px;
    }
} 
