/* GOOGLE FONTS
font-family: 'Amatic SC', cursive;
font-family: 'Caveat', cursive;
*/

/* CONTACTO  */
.main-general {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px;
}

.input {
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  left: 70px;
}

.input-mensaje {
  height: 50px;
  width: 250px;
  text-align: center;
  position: relative;
  left: 40px;
}

.input-button {
  position: relative;
  left: 100px;
}

@media only screen and (max-width: 768px) {
  .input {
    left: 30px;
  }
  .input-mensaje {
    left: 0px;
  }
  .input-button {
    left: 60px;
    bottom: 5px;
  }
}

.header {
  background-color: #df4ee4;
}

.logo {
  width: 50%;
}

.navbar-nav {
  font-family: "Caveat", cursive;
  font-size: 40px;
  transition: transform 3s;
}

.navbar-nav a {
  color: #873cc5 !important; /* Use el important porque me pisaba el hover */
}

.navbar a:hover {
  transition: 2s;
  color: white !important; /* Use el important porque me pisaba el hover */
}

section {
  margin: 5%;
}

.carousel-inner {
  height: 400px;
}

.carousel-inner img {
  height: 350px;
}

.imagenes {
  margin-top: 50px;
}

.boton {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.boton-estilo {
  border-radius: 10px;
  background-color: #f252a7;
  padding: 5px;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.footer {
  background: linear-gradient(to right, #c733cc, #eec1f0);
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.iconos-footer {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 30px;
}

.foto-quienes-somos {
  width: 400px;
  height: 400px;
  margin-top: 60px;
}

.lorem {
  text-align: start;
  font-size: 40px;
  width: 400px;
  color:#873cc5;
  padding-top: 40px;
  font-family: "Caveat", cursive;
}

.faber{
  height: 286px;
}

.cards{
    padding-left: 40px;
}
.card{
  display: inline-block;
  margin: 15px;
  border-radius: 1px;
  border-color: black;
  text-align: center;
}

.card-text{
  font-weight: bold;
  font-size: 20px;
  color: #f252a7;
}

.btn{
  background-color: #873cc5;
  border:none;
  color:white;
}

.img-buzz{
  overflow: hidden;

}

h1{
  font-family: 'Amatic SC', cursiva;
  font-size: 80px;
  text-align: center;
  text-shadow: 3px 3px 3px #873cc4;
  color: rgb(240, 121, 200);
  margin:10px;
}





 
