/* QUIENES SOMOS */
.container-fluid {
  .row {
    .item {
      .lorem {
        text-align: start;
        font-size: 40px;
        color: #873cc5;
        padding-top: 40px;
        font-family: "Caveat", cursive;
      }
      .foto-quienes-somos {
        margin-top: 60px;
        box-sizing: content-box;
      }
    }
  }
}


